div.fullwidth > header {padding-top:25px; border-bottom:1px solid #ccc; padding-bottom:20px;}
div.fullwidth > header .logo {font-size:3.52em;}
div.fullwidth > header nav ul li {float:left; margin-top:12px;}
div.fullwidth > header nav ul li a {display:block; padding:5px 15px; border-right:1px solid #eee; font-size:1.52em; font-family:Georgia, "Times New Roman", Times, serif; text-decoration:none;}
div.fullwidth > header nav ul li a:hover {background-color:#eee; border-right:1px solid #ccc; text-shadow:-1px -1px 0px #fff;}
div.fullwidth > header nav ul li.last a {border-right:none;}

body {
    background-color: #4183C4;
}
.inlined {
    display: inline-block;
}

.fullwidth {
    position:relative;
    background-color:white;
}

header h1 {
	height: 30px;
}

nav {
	font-family: 'CaviarDreamsRegular', Helvetica, sans-serif;
	text-align: right;
	font-size: 17px;
	margin-top: 40px;
	color: #494949;
}

/* ** ** Header Styles ** ** */
section h2 a, section h3 a, section h4 a, section h5 a,
section h2, section h3, section h4, section h5 {
    color: #4183C4;
}

a { color: #226666;}
header a {	color:#525252; text-decoration:none; }

.posts li { margin-top:3em; }

