#[submodule "dev-time/css3-mixins"]
#	path = dev-time/css3-mixins
#	url = https://github.com/thepian/less.js-css3-mixins
#[submodule "dev-time/less-addons"]
#	path = dev-time/less-addons
#	url = git@github.com:thepian/less-addons.git
