---
layout: frontpage
rooturi: http://essentialjs.com
---
<script name="declare-shapes" type="tryout/javascript">
function Rectangle(width,height,options) {}
Rectangle.args = [
  NumberType({name:"width",preset:true}),
  NumberType({name:"height",preset:true}),
  ObjectType({name:"options"})
];
Resolver().set("shapes.Rectangle", Generator(Rectangle,Shape));  
Generator(Shape).variant("rectangle",Generator(Rectangle));  
    
function Circle(diameter,options) {}
Circle.args = [
  NumberType({name:"diameter",preset:true}),
  ObjectType({name:"options"})
];
Resolver().set("shapes.Circle", Generator(Circle,Shape));  
Generator(Shape).variant("circle",Generator(Circle));  
</script>


<nav class="the-project">
    <span class="prodname">Essential JavaScript</span>
    <div class="links">
    <a href="https://github.com/essentialjs/essentialjs/wiki">Documentation</a>
    <a href="https://github.com/essentialjs/essentialjs/issues">Feedback</a>
    </div>
</nav>

<nav class="hello" id="hello" data-class=":hello scrolled-above-fold:popped-out">
  <div class="center">
  <a class="infocircle" href="#tryout">Tryout<br>and<br>News</a>
  <a class="circle" href="#oojs">Better Object Orientation</a>
  <a class="circle" href="#snippets">Live <br>HTML5 Snippets</a>
  <a class="circle" href="#pages">Combining HTML5 Sectioning</a>
  </div>
</nav>
<div role="tracker" style="height:20em" data-track-heights="hello"></div>

<section id="tryout" class="slide1">
  <h2>Declaring a Generator</h2>
  {% highlight javascript %}
  function Shape(options) {}
  Shape.arguments = [
    ObjectType({name:"options",preset:true})      
  ];
  Resolver().set("shapes.Shape", Generator(Shape));
  {% endhighlight %}

  <div class="comment">
    <blockquote class="tryout" name="declare-shapes-error"></blockquote>
    <h4>shapes module</h4>
    <blockquote name="declare-shapes-code"></blockquote>
  </div>
  <textarea class="tryout codeblock" name="declare-shapes" cols="60" rows="20" ></textarea>

  <ul class="posts">
    {% for post in site.posts %}
      {% for cat in post.category %} {% if cat == "news" %} 

      <li>
    <figure class="postdate">
      <!-- 
      <span class="postweekday">{{ post.date | date: "%w" }}</span>
      -->
      <span class="postmonth">{{ post.date | date: "%b" }}</span>
      <span class="postday">{{ post.date | date: "%d" }}</span>
    </figure>
    <h4><a href="{{ post.url }}">{{ post.title }}</a>
      <br><small style="color:#888;">by {{ post.author }}</small>
      </h4>

    {{ post.content }}
  </li>

    {% endif %}{% endfor %}
    {% endfor %}
  </ul>
</section>

<section id="oojs" class="slide2">
  <div id="declaring">
  <h2>Better Object Orientation</h2>
  <p>JavaScript has great fundamental support for encapsulation and inheriance. To provide better decoupling
  several principles can be applied such as: Aspects, Dependency Injection, Introspection. EssentialJS 
  gives you core functionality that will allow a great deal of decoupling with minimal overhead.
  </p>

  <h3>Features</h3>
  <ul>
  <li><a href="#pre-init">Initialise generated object with arguments</a></li>
  <li><a href="#variant">Using a specialised object only knowing the base constructor</a></li>
  <li><a href="#variant">Using a concrete variant of a base constructor without knowing which</a></li>
  <li><a href="#restricting">Generating an object not knowing that it is a singleton</a></li>
  <li><a href="#namespaces">Non-Global-Object and Private namespaces</a></li>
  </ul>

<h2>Why?</h2>
<p>
The simplest way of sharing information in a JavaScript application is to create a global object.
This creates the problem of picking a name for your global variable that others won't reuse by mistake.
For more have a look at [[Namespaces and Globals]].
</p>
<p>
A common pattern is to reuse a previous object or create a new one if it wasn't used before.
[[Constructing Objects with Generators]] subtly moved the decision of whether to create a new instance from
the caller to a middleman. You go from `new Rectange(5,5)` to `Generator(Rectangle)(5,5)`.
[[Restricting Object Generation]] allows you to use previously constructed instances rather than creating a `new`.
</p>
<p>
When you make an application using typical Java paradigms you will quickly be adding singleton classes.
And you will just as quickly see why many people say that "singletons are evil".
The problem with singletons is not the concept of sharing a single instance among dependents, rather it is
the way the single instance is enforced and the resolution of it. 
In languages like Java solutions exist under the term [Dependency Injection](http://en.wikipedia.org/wiki/Dependency_injection).
Since [[JavaScript is a very different language]], it can be done in a fairly simple way using 
[[Restricting Object Generation]] and [[Generator Argument Injection]].
</p>
<p>
You commonly want to make a particular variant of something. So you know that you want a shape, and the design
might say that it is supposed to be a rectangle, but that might be configurable or persisted in a design document.
So you want a concrete instance of a shape constructor. The simple solution is [[Generating a Variant]].
Occasionally you don't want to a particular variant, but rather use the default one, and allow configurations
to determine which constructor to use. [Generating a Default Variant](Generating a Variant).
</p>
</div>

<div id="namespaces">
<h2>Namespaces and Globals</h2>

<p>When your page needs more than a couple of common variables and functions, you need a way to divide them into packages.
In JavaScript that is easy. Just create a few objects and divide your code between them.
</p>
<pre>
    var shapes = {};
    shapes.Shape = function() {};

    var tools = {};
    tools.Tool = function() {};
</pre>

<p>This works well for websites with a moderate amount of code. Eventually you will want a simple way to specify a 
hierachialy named package supported natively by most modern languages.
This classic functionality packaging can be done easily with a window resolver.
</p>
<pre>
    var shapes = Resolver(window)("my.shapes");
    var tools = Resolver(window)("my.tools");
</pre>

<p>If you call `Resolver()` without a parameter, the default behaviour is the look up the package within the default namespace object. This is called the **default namespace**.
Undefined parts are stubbed out with plain objects. This is usually what you want to do for the package, but not for the functionality within the package.
You can assign an entry in a package using a single statement.
</p>
<pre>
    Resolver().set("my.shapes.IGNORE_X",5);
</pre>
<p>If you want to declare a value without overwriting a previous one set elsewhere or configured, call `declare`.
</p>
<pre>
    Resolver().declare("my.shapes.IGNORE_X",5);
</pre>

<a href="https://github.com/essentialjs/EssentialJS/wiki/Namespaces-and-Globals">More about Namespaces and Globals</a>

</div>

<div id="preset">
<h2>Generating Pre-Initialised Object</h2>
      <p>By default a generated object starts out blank before the constructors are called. You can fill in member variables with argument values. This will seed the members before the base constructors are called.</p>

<pre><code>function Rectangle(width,height) {}
Rectangle.arguments = [
    NumberType({ name:"width", preset:true }),
    NumberType({ name:"height", preset:"height" })
]
</code></pre>

<p>If an argument is configured with a <code>preset</code> attribute the argument will be used to assign the member variable
before the constructors are called. A name can be specified or true for the argument name.</p>

<a href="https://github.com/essentialjs/EssentialJS/wiki/Generating-Pre-Initialised-Object">More about Generating Pre-Initialised Object</a>



<h2>Configuring Variants</h2>
<p>Variants can be configured separately. This allows you to change the behaviour of your web app without changing
the program code. You can try out a better version of Rectangle without changing the existing implementation.
</p>
</div>
</section>

<section id="snippets" class="slide3">
  <h2>Live HTML Snippets</h2>
  <p>When you make a highly interactive web page you can benefit from a concept used on the server side
  templates. Taking advantage of the browsers built-in DOM manipulation function Snippets allow you to
  repeat, preload tables, and mold page parts and forms.
  </p>
  <a>More about this later</a>
</section>

<section id="pages" class="slide4">
  <h2>Combined Sectioning</h2>
  <p>HTML5 defines new tags for sectioning the outline of a page. In a highly interactive web page you
  want to swap parts of the page in and out on the fly rather than reloading the whole page. To do this
  conveniently you need support on the server side to look up individual sections or whole pages as needed.
  </p>
  <a>More about this later</a>
</section>

<div role="tracker" style="height:60em" data-track-heights="tryout oojs snippets pages"></div>

