---
layout: master
rooturi: http://essentialjs.com
---
		<div class="width75" style="float: left;">
		    <div class="tweet"></div>

		    <h1 style="margin-top: 1em;">Bloggings</h1>

		    {% for post in site.posts %}

		        <div class="postBlock">
		            <table cellspacing="0" cellpadding="0">
		                <tr>
		                    <td class="date">{{post.date | date_to_string}}</td>
		                    <td>
		                        <a class="title" href="{{post.url}}">{{post.title}}</a>

		                        {% for category in post.categories %}
		                        <span class="category">{{category}}</span>
		                        {% endfor %}
		                    </td>
		                </tr>
		            </table>
		        </div>

		    {% endfor %}

		    <!-- { if forloop.index < page.full_posts } -->
		</div>

