<!DOCTYPE html>
<html>
<head>
<title>Overview of {{ account }}</title>
</head>
<body>

	<h2>{{ account }} ({{ full_name }}) <button>Edit Profile</button></h2>
	<hr>
	<dl>
		<dt>Name</dt>
		<dd>{{ full_name }}</dd>
		<dt>Email</dt>
		<dd>{{ public_email }}</dd>
		<dt>Website/Blog</dt>
		<dd>{{ public_website }}</dd>
		<dt>Company</dt>
		<dd>{{ company_name }}</dd>
		<dt>Location</dt>
		<dd>{{ public_location }}</dd>
		<dt>Member Since</dt>
		<dd>{{ member_since }}</dd>
	</dl>
	<div>
		<a>
		<em>{{ public_projects }}</em>
		public projects
		</a>
		
		<a>
		<em>{{ private_projects }}</em>
		private projects
		</a>
		
		<a>
		<em>{{ followers }}</em>
		followers
		</a>
	</div>
	<hr>
	<dl>
	{% for project in projects %}
		<dt><a href="/{{ account }}/{{ project.project }}/">{{ project.project }}</a>
		</dt>
		<dd>
			<div>
			Essential JavaScript
			Last updated about 11 hours ago
			</div>
			<ul>
		{% for suite in project.suites %}
			<li>
			{{ suite["suite"] }}/{{ suite["exec_name"] }} ❖
				<a href="/{{ suite["project"] }}/{{ suite["hash"] }}/introduction.html">Introduction</a> ❖
				<a href="/{{ suite["project"] }}/{{ suite["hash"] }}/runner.html">Runner</a>
			</li>
		{% end %}
			</ul>
		</dd>
	{% end %}
	</dl>
	
	<p>The common way to run Specs is to execute in the loading page with the examples running in a hidden scope. The examples will have to leave the DOM unchanged, or restore them upon completion. The running will create a results IFRAME for posting the results.
	</p>
	
	<h2>Kicking off the suite</h2>
	<p>You can kick off a suite of Specifications by opening the <a href="runner.html">Runner</a> page.
	If you save(just the HTML file as it is) together with your source code locally, it can be run
	by simply opening the file with a web browser.</p>
	
</body>
</html>