<!DOCTYPE html>
<html>
<head>
<title>{{ account }} / {{ project.project }}</title>
</head>
<body>
	<header>
	<h2><a href="/{{ account }}/">{{ account }}</a> / <a href="/{{ account }}/{{ project.project }}/">{{ project.project }}</a></h2>
	<span> 
		<button class="admin">Admin</button>
		<button class="followers">2</button>
	</span>
	</header>
	
	<div>
		<button>Source</button>
		<button>History</button>
		<button>Graphs</button>
	</div>
	
	<div>
		<summary>
			Essential JavaScript
			Last updated about 11 hours ago
		</summary>

			<ul>
		{% for suite in project.suites %}
			<li>
			{{ suite["suite"] }}/{{ suite["exec_name"] }} ❖
				<a href="/{{ suite["project"] }}/{{ suite["hash"] }}/introduction.html">Introduction</a> ❖
				<a href="/{{ suite["project"] }}/{{ suite["hash"] }}/runner.html">Runner</a>
			</li>
		{% end %}
			</ul>
			
			<h3>Active Nodes</h3>
			<ul>
			</ul>

	</div>

	<div>
	
	<h2>Known Specs</h2>
	<p>Examples for each of the specs.
	</p>
	
	{% for spec in specs %}
	<h3><span title="id = {{ spec["info"]["id"] }}, filename = {{ spec["info"]["filename"] }}">{{ spec["info"]["name"]}}</span></h3>
	<p>Ongoing: {% for run in spec["ongoing_runs"] %} {{ run }} {% end%}</p>
	<p>Completed: {% for run in spec["completed_runs"] %} {{ run }} {% end%}</p>
	<dl>
		{% for example in spec["examples"] %}
		<dt>It {{ example }}.</dt>
		<dd></dd>
		{% end %}	
	</dl>
	{% end %}	
	
	</div>	
</body>
</html>