{% extends "site_base.html" %}

{% load i18n %}


{% block title %}Home{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block headlines %}

<dl>
	<dd class="column span-4"><!-- flow af produkter --></dd>
	<dd class="column span-4"><!-- flow af referencer --></dd>
	<dd class="column span-8"><!-- logo --></dd>
	<dd class="column span-4"><!-- flow af nyheder --></dd>
	<dd class="column span-4 last"><!-- flow af webshop --></dd>
</dl>	
{% endblock %}

{% block main %}
    {% blocktrans %}
    {% endblocktrans %}
    
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}
    
{% endblock %}
