---
layout: master
guesswho: itsme
---
<div class="col_12 col">
	{{ content }}

  <ul class="posts">
    {% for post in site.posts %}
      <li>
		<figure class="postdate">
			<!-- 
			<span class="postweekday">{{ post.date | date: "%w" }}</span>
			-->
			<span class="postmonth">{{ post.date | date: "%b" }}</span>
			<span class="postday">{{ post.date | date: "%d" }}</span>
		</figure>
		<h4><a href="{{ post.url }}">{{ post.title }}</a>
			<br><small style="color:#888;">by {{ post.author }}</small>
			</h4>

		{{ post.content }}
	</li>
    {% endfor %}
  </ul>
</div>

<div class="col_4 col" style="overflow:visible;">
  <div id="twitter-ticker">
    <header>
      <figure><img src="/images/twitter_64.png" width="64" height="64" alt="Twitter icon" /></figure>
       <h2 class="tut">Tweets</h2>
     </header>

     <div class="tweet-container"><img class="loading" src="/images/loading.gif" width="16" height="11" alt="Loading.." /></div>

     <div id="scroll"></div>
  </div>
    
</div>


